.content {
  width: 85%;
  height: 100%;
  background: url(../../Assets/images/bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1.5rem;
  position: relative;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}